@import "./mixins"
.apimarvel-component
  padding: 5px
  background-color: #235094
  overflow: hidden

  button
    @include marvel-button(#5baa18)
    width: 90px
    height: 90px
  .messages-bar, .button-container
    float: left
  .messages-bar
    width: calc(100% - 95px)
  p
    margin: 8px

[aria-hidden=true]
  visibility: hidden
  display: none
