/* Base Application Styles */
body {
  color: #fff;
  background: #111;
}

.index img {
  background: #fff;
}

.index {
  max-width: 375px;
  margin: 0 auto;
  background: #222;
}

button {
  color: #000;
}

button:disabled {
  color: #c1c1c1;
}
