@import ./colors

@mixin marvel-button($color)
  color: white
  background-color: $color
  border: 0
  padding: 8px
  text-transform: uppercase
  border-radius: 4px

  &:hover
    background-color: lighten($color, 5%)

  &:disabled
    color: lighten($color, 30%)
    background-color: lighten($color, 15%)

  &:active
    background-color: darken($color, 10%)


@mixin action-button()
  width: 90px
  height: 90px
  border: 3px solid black

@mixin vignete-style()
  border: 2px solid black

@mixin button-animated()
  animation-name: animation-active
  animation-iteration-count: infinite
  animation-timing-function: ease
  animation-duration: .5s
  animation-direction: alternate

@keyframes animation-active
  0%
    transform: rotate(0deg)
  30%
    transform: rotate(-4deg)
  60%
    transform: rotate(2deg)
  100%
    transform: rotate(-6deg)

.button-animated
  @include button-animated()
