@import ./colors

@mixin marvel-button($color)
  color: white
  background-color: $color
  border: 0
  padding: 8px
  text-transform: uppercase
  border-radius: 4px

  &:hover
    background-color: lighten($color, 5%)

  &:disabled
    color: lighten($color, 30%)
    background-color: lighten($color, 15%)

  &:active
    background-color: darken($color, 10%)


@mixin action-button()
  width: 90px
  height: 90px
  border: 3px solid black
  transition: transform .5s ease
  transition: border-radius .5s ease

@mixin vignete-style()
  border: 2px solid black

@mixin animation-shake()
  animation-name: animation-shake
  animation-iteration-count: infinite
  animation-timing-function: ease
  animation-duration: .5s
  animation-direction: alternate

@keyframes animation-shake
  0%
    transform: rotate(0deg)
  30%
    transform: rotate(-4deg)
  60%
    transform: rotate(2deg)
  100%
    transform: rotate(-6deg)

.animation-shake
  @include animation-shake()

@keyframes animation-loading
  0%
    border-radius: 10%
  100%
    border-radius: 30%

@mixin animation-loading()
  animation-name: animation-loading
  animation-iteration-count: infinite
  animation-timing-function: ease
  animation-duration: 1s
  animation-direction: alternate

.animation-loading
  @include animation-loading()
  transition: border-radius .3s ease


