@import ./colors

@mixin marvel-button($color)
  color: white
  background-color: $color
  border: 0
  padding: 8px
  text-transform: uppercase
  border-radius: 4px

  &:hover
    background-color: lighten($color, 5%)

  &:disabled
    color: lighten($color, 30%)
    background-color: lighten($color, 15%)

  &:active
    background-color: darken($color, 10%)


@mixin action-button()
  width: 90px
  height: 90px
  border: 3px solid black


@mixin vignete-style()
  border: 2px solid black
